<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>node app</title>
</head>
<body>
<h1 class="title">Bienvenue chez Equipe 1 (controlled by Stark)</h1>
<nav>
    <ul>
        <li>
            <a href='http://localhost:3000/docs/swagger'>
                APi doc
            </a>
        </li>
        <li>
            <a href='http://localhost:3000/docs/swagger'>
                Chat
            </a>
        </li>
    </ul>
</nav>
</body>
</html>